.conta{
    background-color: tomato;
    width: auto;
    height: 50px;
    
}
.conta p{
    color: white;
    text-align: center;
}
.conta a{
    color: orange;
    text-align: center;
}
.menu{
    
    background-color: gray;
    width: auto;
    height: 100px;
    text-align: center;
    justify-content: center;

}
.menu a{
    top: 20px;
    position: relative;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;

}.menu button{
    top: 20px;
    position: relative;
    background-color: tomato;
    border: 0;
    color: white;
  
}img{
    width: 100%;
    height: 100%;
}
.con{
    background-color: rgb(104, 120, 67);
    width: auto;
    height: 50px;
    
}
.con h1{
    text-align: center;
}
.metin img{
    border-radius: 50%;
    

}
.ilet span{
    display: inline-block; 
    height: 100%;
    width: 100%;
    border: 1px solid black; 
    

    
}.ilet label{
    display: inline;
    padding: 5px;
}
#bir{
    overflow: hidden;
}
#bir ul li{
    float: left;
    margin-right: 20px;

}
#bir ul li img{
    border: 2px solid #000;

}
.clear{
    clear: both;
}